.object-adamantium-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -0px;
	background-size: 252px 224px;
}

.object-admantium-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -0px;
	background-size: 252px 224px;
}

.object-ancient-temple {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -16px;
	background-size: 252px 224px;
}

.object-apothecary {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -16px;
	background-size: 252px 224px;
}

.object-aqueduct {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -0px;
	background-size: 252px 224px;
}

.object-arcane-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -16px;
	background-size: 252px 224px;
}

.object-armorforge {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -32px;
	background-size: 252px 224px;
}

.object-balloon {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -32px;
	background-size: 252px 224px;
}

.object-behemoth-warschool {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -32px;
	background-size: 252px 224px;
}

.object-boar-pen {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -0px;
	background-size: 252px 224px;
}

.object-breeding-pit {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -16px;
	background-size: 252px 224px;
}

.object-cage-trap {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -32px;
	background-size: 252px 224px;
}

.object-castle {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -48px;
	background-size: 252px 224px;
}

.object-cave {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -48px;
	background-size: 252px 224px;
}

.object-chandler {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -48px;
	background-size: 252px 224px;
}

.object-chimera-roost {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -48px;
	background-size: 252px 224px;
}

.object-citadel {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -0px;
	background-size: 252px 224px;
}

.object-cloud-palace {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -16px;
	background-size: 252px 224px;
}

.object-cotton-collectors {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -32px;
	background-size: 252px 224px;
}

.object-crypt {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -48px;
	background-size: 252px 224px;
}

.object-dark-priest-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -64px;
	background-size: 252px 224px;
}

.object-demon-pit {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -64px;
	background-size: 252px 224px;
}

.object-dragon-cliff {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -64px;
	background-size: 252px 224px;
}

.object-drakenstein {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -64px;
	background-size: 252px 224px;
}

.object-druid-circle {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -64px;
	background-size: 252px 224px;
}

.object-elefant-warschool {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -0px;
	background-size: 252px 224px;
}

.object-elephant-stable {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -16px;
	background-size: 252px 224px;
}

.object-elephant-warschool {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -32px;
	background-size: 252px 224px;
}

.object-eyrie {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -48px;
	background-size: 252px 224px;
}

.object-faerie-ring {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -64px;
	background-size: 252px 224px;
}

.object-farm {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -80px;
	background-size: 252px 224px;
}

.object-farmhouse {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -80px;
	background-size: 252px 224px;
}

.object-firedrake-cliff {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -80px;
	background-size: 252px 224px;
}

.object-fishery {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -80px;
	background-size: 252px 224px;
}

.object-fishing-fleet {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -80px;
	background-size: 252px 224px;
}

.object-forest-preserve {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -80px;
	background-size: 252px 224px;
}

.object-fort {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -0px;
	background-size: 252px 224px;
}

.object-fortress {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -16px;
	background-size: 252px 224px;
}

.object-fungus-garden {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -32px;
	background-size: 252px 224px;
}

.object-furnace {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -48px;
	background-size: 252px 224px;
}

.object-gas-tank {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -64px;
	background-size: 252px 224px;
}

.object-gem-appraiser {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -80px;
	background-size: 252px 224px;
}

.object-gem-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -96px;
	background-size: 252px 224px;
}

.object-giants-castle {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -96px;
	background-size: 252px 224px;
}

.object-gold-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -96px;
	background-size: 252px 224px;
}

.object-grand-castle {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -96px;
	background-size: 252px 224px;
}

.object-grand-citadel {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -96px;
	background-size: 252px 224px;
}

.object-grand-fort {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -96px;
	background-size: 252px 224px;
}

.object-grand-fortress {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -96px;
	background-size: 252px 224px;
}

.object-grand-stockade {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -0px;
	background-size: 252px 224px;
}

.object-grand-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -16px;
	background-size: 252px 224px;
}

.object-griffon-stable {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -32px;
	background-size: 252px 224px;
}

.object-harpy-nest {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -48px;
	background-size: 252px 224px;
}

.object-herb-garden {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -64px;
	background-size: 252px 224px;
}

.object-hermits-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -80px;
	background-size: 252px 224px;
}

.object-hexagonal-portal-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -96px;
	background-size: 252px 224px;
}

.object-hexagonal-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -112px;
	background-size: 252px 224px;
}

.object-horticulture {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -112px;
	background-size: 252px 224px;
}

.object-hunting-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -112px;
	background-size: 252px 224px;
}

.object-hunting-stand {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -112px;
	background-size: 252px 224px;
}

.object-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -112px;
	background-size: 252px 224px;
}

.object-ice-cave {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -112px;
	background-size: 252px 224px;
}

.object-inn {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -112px;
	background-size: 252px 224px;
}

.object-irrigation {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -112px;
	background-size: 252px 224px;
}

.object-island {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -0px;
	background-size: 252px 224px;
}

.object-jeweler {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -16px;
	background-size: 252px 224px;
}

.object-joiner-s-workshop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -32px;
	background-size: 252px 224px;
}

.object-kennel {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -48px;
	background-size: 252px 224px;
}

.object-lair {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -64px;
	background-size: 252px 224px;
}

.object-lizard-ranch {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -80px;
	background-size: 252px 224px;
}

.object-lizard-slaughterhouse {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -96px;
	background-size: 252px 224px;
}

.object-magical-castle {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -112px;
	background-size: 252px 224px;
}

.object-magical-fortress {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -128px;
	background-size: 252px 224px;
}

.object-magical-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -128px;
	background-size: 252px 224px;
}

.object-magicians-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -128px;
	background-size: 252px 224px;
}

.object-mammoth-stable {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -128px;
	background-size: 252px 224px;
}

.object-mammoth-warschool {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -128px;
	background-size: 252px 224px;
}

.object-menagerie {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -128px;
	background-size: 252px 224px;
}

.object-mill {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -128px;
	background-size: 252px 224px;
}

.object-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -128px;
	background-size: 252px 224px;
}

.object-mithril-mine {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -128px;
	background-size: 252px 224px;
}

.object-necromancers-guild {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -0px;
	background-size: 252px 224px;
}

.object-palace {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -16px;
	background-size: 252px 224px;
}

.object-peltmonger-s-workshop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -32px;
	background-size: 252px 224px;
}

.object-peltmongers-workshop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -48px;
	background-size: 252px 224px;
}

.object-prospectors-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -64px;
	background-size: 252px 224px;
}

.object-pyramid {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -80px;
	background-size: 252px 224px;
}

.object-raft {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -96px;
	background-size: 252px 224px;
}

.object-ranch-house {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -112px;
	background-size: 252px 224px;
}

.object-ranch {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -128px;
	background-size: 252px 224px;
}

.object-rowingboat {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -144px;
	background-size: 252px 224px;
}

.object-runemaster {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -144px;
	background-size: 252px 224px;
}

.object-sawing-mill {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -144px;
	background-size: 252px 224px;
}

.object-sculptor-s-workshop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -144px;
	background-size: 252px 224px;
}

.object-sculptors-workshop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -144px;
	background-size: 252px 224px;
}

.object-sheep-dip {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -144px;
	background-size: 252px 224px;
}

.object-sheep-farm {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -144px;
	background-size: 252px 224px;
}

.object-shepherd-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -144px;
	background-size: 252px 224px;
}

.object-slaughterhouse {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -144px;
	background-size: 252px 224px;
}

.object-smithy {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -144px;
	background-size: 252px 224px;
}

.object-stockade {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -0px;
	background-size: 252px 224px;
}

.object-tavern {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -16px;
	background-size: 252px 224px;
}

.object-team-trainer-s-shop {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -32px;
	background-size: 252px 224px;
}

.object-temple {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -48px;
	background-size: 252px 224px;
}

.object-thicket {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -64px;
	background-size: 252px 224px;
}

.object-tobacco-plantation {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -80px;
	background-size: 252px 224px;
}

.object-tournament-course {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -96px;
	background-size: 252px 224px;
}

.object-tournament-parcours {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -112px;
	background-size: 252px 224px;
}

.object-tower {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -128px;
	background-size: 252px 224px;
}

.object-training-pen {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -144px;
	background-size: 252px 224px;
}

.object-training-pit {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -0px -160px;
	background-size: 252px 224px;
}

.object-trapping-hut {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -17px -160px;
	background-size: 252px 224px;
}

.object-trapping-lodge {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -34px -160px;
	background-size: 252px 224px;
}

.object-truffles-plantation {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -51px -160px;
	background-size: 252px 224px;
}

.object-vineyard {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -68px -160px;
	background-size: 252px 224px;
}

.object-virginary {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -85px -160px;
	background-size: 252px 224px;
}

.object-volcanic-pool {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -102px -160px;
	background-size: 252px 224px;
}

.object-walkway {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -119px -160px;
	background-size: 252px 224px;
}

.object-warg-pit {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -136px -160px;
	background-size: 252px 224px;
}

.object-weaponforge {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -153px -160px;
	background-size: 252px 224px;
}

.object-winepress {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -170px -160px;
	background-size: 252px 224px;
}

.object-woolinger-dip {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -187px -0px;
	background-size: 252px 224px;
}

.object-wyrm-lair {
    width: 17px;
    height: 16px;
    background: url("objects-css.png") -187px -16px;
	background-size: 252px 224px;
}

.object-airship {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -32px;
	background-size: 252px 224px;
}

.object-armored-galleon {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -48px;
	background-size: 252px 224px;
}

.object-artificial-reef {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -64px;
	background-size: 252px 224px;
}

.object-bat-cave {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -80px;
	background-size: 252px 224px;
}

.object-brig {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -96px;
	background-size: 252px 224px;
}

.object-camel-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -112px;
	background-size: 252px 224px;
}

.object-caravel {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -128px;
	background-size: 252px 224px;
}

.object-carrack {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -144px;
	background-size: 252px 224px;
}

.object-clipper {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -187px -160px;
	background-size: 252px 224px;
}

.object-cog {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -0px -176px;
	background-size: 252px 224px;
}

.object-corestone-quarry {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -16px -176px;
	background-size: 252px 224px;
}

.object-cotton-plantation {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -32px -176px;
	background-size: 252px 224px;
}

.object-cutter {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -48px -176px;
	background-size: 252px 224px;
}

.object-derelict-ship {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -64px -176px;
	background-size: 252px 224px;
}

.object-dhow {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -80px -176px;
	background-size: 252px 224px;
}

.object-diving-floats {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -96px -176px;
	background-size: 252px 224px;
}

.object-drying-shed {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -112px -176px;
	background-size: 252px 224px;
}

.object-floating-fortress {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -128px -176px;
	background-size: 252px 224px;
}

.object-flying-lizard-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -144px -176px;
	background-size: 252px 224px;
}

.object-galleon {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -160px -176px;
	background-size: 252px 224px;
}

.object-galley {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -176px -176px;
	background-size: 252px 224px;
}

.object-ghost-ship {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -0px;
	background-size: 252px 224px;
}

.object-grave {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -16px;
	background-size: 252px 224px;
}

.object-herbalist-store {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -32px;
	background-size: 252px 224px;
}

.object-junk {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -48px;
	background-size: 252px 224px;
}

.object-linked-shaft {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -64px;
	background-size: 252px 224px;
}

.object-lizard-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -80px;
	background-size: 252px 224px;
}

.object-longboat {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -96px;
	background-size: 252px 224px;
}

.object-mole-burrow {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -112px;
	background-size: 252px 224px;
}

.object-monument {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -128px;
	background-size: 252px 224px;
}

.object-mushroom-farm {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -144px;
	background-size: 252px 224px;
}

.object-mystic-quarry {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -160px;
	background-size: 252px 224px;
}

.object-mythic-stables {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -204px -176px;
	background-size: 252px 224px;
}

.object-obelisk {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -0px -192px;
	background-size: 252px 224px;
}

.object-peat-bog {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -16px -192px;
	background-size: 252px 224px;
}

.object-pink {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -32px -192px;
	background-size: 252px 224px;
}

.object-pony-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -48px -192px;
	background-size: 252px 224px;
}

.object-quarry {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -64px -192px;
	background-size: 252px 224px;
}

.object-road-n {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -80px -192px;
	background-size: 252px 224px;
}

.object-road-ne {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -96px -192px;
	background-size: 252px 224px;
}

.object-road-nw {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -112px -192px;
	background-size: 252px 224px;
}

.object-road-s {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -128px -192px;
	background-size: 252px 224px;
}

.object-road-se {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -144px -192px;
	background-size: 252px 224px;
}

.object-road-sw {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -160px -192px;
	background-size: 252px 224px;
}

.object-root-road-n {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -176px -192px;
	background-size: 252px 224px;
}

.object-root-road-ne {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -192px -192px;
	background-size: 252px 224px;
}

.object-root-road-nw {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -0px;
	background-size: 252px 224px;
}

.object-root-road-s {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -16px;
	background-size: 252px 224px;
}

.object-root-road-se {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -32px;
	background-size: 252px 224px;
}

.object-root-road-sw {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -48px;
	background-size: 252px 224px;
}

.object-rootstone-quarry {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -64px;
	background-size: 252px 224px;
}

.object-schooner {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -80px;
	background-size: 252px 224px;
}

.object-shaft {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -96px;
	background-size: 252px 224px;
}

.object-signpost {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -112px;
	background-size: 252px 224px;
}

.object-sloop {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -128px;
	background-size: 252px 224px;
}

.object-snow {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -144px;
	background-size: 252px 224px;
}

.object-spider-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -160px;
	background-size: 252px 224px;
}

.object-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -176px;
	background-size: 252px 224px;
}

.object-stables {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -220px -192px;
	background-size: 252px 224px;
}

.object-stonecutters-hut {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -0px -208px;
	background-size: 252px 224px;
}

.object-stonemasons-hut {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -16px -208px;
	background-size: 252px 224px;
}

.object-tartan {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -32px -208px;
	background-size: 252px 224px;
}

.object-tepuke {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -48px -208px;
	background-size: 252px 224px;
}

.object-timber-yard {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -64px -208px;
	background-size: 252px 224px;
}

.object-tree-nursery {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -80px -208px;
	background-size: 252px 224px;
}

.object-treetenders-hut {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -96px -208px;
	background-size: 252px 224px;
}

.object-war-galleon {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -112px -208px;
	background-size: 252px 224px;
}

.object-whaling-fleet {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -128px -208px;
	background-size: 252px 224px;
}

.object-whirlpool {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -144px -208px;
	background-size: 252px 224px;
}

.object-winged-horse-stable {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -160px -208px;
	background-size: 252px 224px;
}

.object-wolf-pen {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -176px -208px;
	background-size: 252px 224px;
}

.object-woolinger-farm {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -192px -208px;
	background-size: 252px 224px;
}

.object-yew-grove {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -208px -208px;
	background-size: 252px 224px;
}

.object-giant-bat {
    width: 16px;
    height: 16px;
    background: url("objects-css.png") -236px -0px;
	background-size: 252px 224px;
}


